 {% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="javascript:void(0)"><img src="C:\Users\prabe\OneDrive\Desktop\PORTFOLIO\project\static\images\fb.svg" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="static/images/insta.svg" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="static/images/twitter.svg" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="static/images/linkedin.svg" alt="..."></a></li>
        </ul>
        
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->
